
/CharacterCards
db/database.db
/venv
/utils/__pycache__
/demo
AICC site auto import.txt
/Screenshots
/CharacterCardsOLD
/dbOLD
/old
/Lorebooks
BUGS.txt
y-chromosomes-extinction-fight-for-the-10000.png
/old2
